@theme{
    --color-primary-bg: #D9F1E6;
    --color-second-bg: #F5F1EB;
    --color-third-bg: #FEEFEC;
    --color-fourth-bg: #EAF4FE;
    --color-fifth-bg: #F1F9EA;
    --color-footer-bg: #111212;
    --text-h1: 3.75rem;
    --text-h2: 1.875rem;
    --text-h3: 1.5rem;
    --text-num: 3rem;
    --text-8: 0.5rem;
    --text-7: 0.4375rem;
    --text-xxs: 0.625rem;
    --text-xxm: 0.6875rem;
    --font-dm: 'DM Sans';
    --font-syne: 'Syne';
    --radius-100: 6.25rem;
    --radius-160: 10rem;
    --radius-120: 7.5rem;
    --radius-80: 5rem;
    --radius-50: 3.125rem;
    --radius-40: 2.5rem;
   
    /*conrainer**/
    --spacing-container: 80.625rem;
    
   
   
}