@theme{
    --color-primary-bg: #00002C;
    --color-second-bg: #333F76;
    --color-third-bg: #42FEDA;
    --color-32BFA480: #32BFA480;
    --color-intro: #651FFF;
    --text-h1: 4.6875rem;
    --text-h2: 2.625rem;
    --text-h3: 1.75rem;
    --text-h4: 1.375rem;
    --text-h5: 1.125rem;
    --text-body: 16px;

    --text-num: 3rem;
    --text-8: 0.5rem;
    --text-7: 0.4375rem;
    --text-xxs: 0.625rem;
    --text-xxm: 0.6875rem;
    
    --font-carter: 'Carter One';
    --font-rubik: 'Rubik';
    --font-std: 'Circular Std';
    --radius-100: 6.25rem;
    --radius-160: 10rem;
    --radius-120: 7.5rem;
    --radius-80: 5rem;
    --radius-50: 3.125rem;
    --radius-40: 2.5rem;
   
    /*conrainer**/
    --spacing-container: 77.5rem;
    
   
   
}