@theme{
    --color-primary-bg: #00002C;
    --color-second-bg: #333F76;
    --color-third-bg: #42FEDA;
    --color-third-bg-26: #42FEDA26;
    --color-primary-bg-50: #00002C80;
    --color-32BFA480: #32BFA480;
    --color-380D7700: #380D7700;
    --color-310E7CF2: #310E7CF2;
    --color-20ADFD: #20ADFD;
    --color-CC00FF: #CC00FF;
    --color-FED428: #FED428;
    --color-FED4281A: #FED4281A;
    --color-8087A9: #8087A9;
    --color-A6ABC3: #A6ABC3;
    --color-FFE082: #FFE082;
    --color-6989ED66: #6989ED66;
    --color-6989ED: #6989ED;
    --color-262F59: #262F59;
    --color-70799F: #70799F;
    --color-2E396A: #2E396A;
    --color-191F3A: #191F3A;
    --color-C3D0F8: #C3D0F8;
    --color-6989EDC7: #6989EDC7;
    --color-32BFA480: #32BFA480;
    --color-1F2647: #1F2647;
    --color-4F67B2: #4F67B2;
    --color-FF6200: #FF6200;
    --color-FF620000: #FF620000;
    --color-A00000: #A00000;
    --color-A0000000: #A0000000;
    --color-9D000C: #9D000C;
    --color-360084: #360084;
    --color-FFD8BF: #FFD8BF;
    --color-ADB2C8: #ADB2C8;
    --color-000028CC: #000028CC;
    --color-FEE169: #FEE169;
    --color-FFC099: #FFC099;
    --color-7BFEE5: #7BFEE5;
    --color-EE98FB: #EE98FB;
    --color-75C6F3: #75C6F3;
    --color-3F528E: #3F528E;
    --color-4C17BF: #4C17BF;
    --color-FF8A65: #FF8A65;
    --color-60657F: #60657F;
    --color-000016: #000016;
    --color-4D4D6B: #4D4D6B;
    --color-title: #651FFF;
    --color-DFE1EA: #DFE1EA;
    --color-41494C: #41494C;
    --color-DAE2FB: #DAE2FB;
    --color-D9D9D9: #D9D9D9;
    --color-864BEC: #864BEC;
    --color-EC32B8: #EC32B8;
    --color-5B1CE6: #5B1CE6;
    --color-44E7DB: #44E7DB;
    --text-h1: 75px;
    --text-h2: 42px;
    --text-h3: 28px;
    --text-h4: 22px;
    --text-h5: 18px;
    --text-body: 16px;
    --text-44: 44px;

    --text-num: 3rem;
    --text-55: 3.4375rem;
    --text-49: 3.0625rem;
    --text-39: 2.4375rem;
    --text-31: 1.9375rem;
    --text-46: 2.875rem;
    --text-44: 2.75rem;
    --text-28: 28px;
    --text-11: 0.6875rem;
    --text-10: 0.625rem;
    --text-9: 0.5625rem;
    --text-8: 0.5rem;
    --text-7: 0.4375rem;
    --text-6: 6px;
    --text-5: 5px;
    --text-4: 4px;
    --text-xxm: 0.6875rem;
    
    --font-carter: 'Carter One';
    --font-rubik: 'Rubik';
    --font-std: 'Circular Std';
    --radius-100: 6.25rem;
    --radius-160: 10rem;
    --radius-120: 7.5rem;
    --radius-80: 5rem;
    --radius-50: 3.125rem;
    --radius-55: 55px;
    --radius-40: 2.5rem;
    --radius-37: 2.3125rem;
   
    /*conrainer**/
    --spacing-container: 77.5rem;
    --spacing-640px: 40rem;
    --spacing-768px: 48rem;
    --spacing-1024px: 64rem;
    --spacing-1095px: 68.4375rem;
    --spacing-1197px: 74.8125rem;
    --spacing-1116px: 69.75rem;
    --spacing-1160px: 72.5rem;
    --spacing-1370px: 85.625rem;
    --spacing-861px: 53.8125rem;
    --spacing-970px: 60.625rem;

    --spacing-117: 7.3281rem;
    --spacing-144: 9.0575rem;
    --spacing-150px: 9.375rem;
    --spacing-151px: 9.4375rem;
    --spacing-230px: 14.375rem;
    --spacing-237px: 14.8125rem;
    --spacing-270px: 16.875rem;
    --spacing-272: 17rem;
    --spacing-260px: 16.25rem;
    --spacing-335: 20.9375rem;
    --spacing-349px: 349px;
    --spacing-350px: 350px;
    --spacing-27px: 1.6875rem;
    --spacing-30px: 1.875rem;
    --spacing-346: 21.625rem;
    --spacing-1px: 0.0625rem;
    --spacing-2px: 0.125rem;
    --spacing-3px: 0.1875rem;
    --spacing-5px: 0.3125rem;
    --spacing-15px: 0.9375rem;
    --spacing-23px: 1.4375rem;
    --spacing-55px: 3.4375rem;
    --spacing-30px: 1.875rem;
    --spacing-90px: 5.625rem;
    --spacing-100px: 6.25rem;
    --spacing-103px: 6.4375rem;
    --spacing-106px: 6.625rem;
    --spacing-167px: 167px;
    --spacing-85px: 85px;
    --spacing-86px: 86px;
    --spacing-88px: 88px;
    --spacing-70px: 70px;
    --spacing-316px: 19.75rem;
    --spacing-146px: 9.125rem;
    --spacing-160px: 10rem;
    --spacing-174px: 10.875rem;
    --spacing-180px: 11.25rem;
    --spacing-183px: 11.4375rem;
    --spacing-185px: 11.5625rem;
    --spacing-189px: 11.8125rem;
    --spacing-196px: 12.25rem;
    --spacing-177px: 11.0625rem;
    --spacing-200px: 12.5rem;
    --spacing-205px: 205px;
    --spacing-208px: 208px;
    --spacing-209px: 209px;
    --spacing-210px: 210px;
    --spacing-228px: 228px;
    --spacing-227px: 14.1875rem;
    --spacing-226px: 14.125rem;
    --spacing-240px: 15rem;
    --spacing-348px: 21.75rem;
    --spacing-250px: 15.625rem;
    --spacing-249px: 15.5625rem;
    --spacing-267px: 16.6875rem;
    --spacing-282px: 17.625rem;
    --spacing-302px: 18.875rem;
    --spacing-313px: 19.5625rem;
    --spacing-315px: 19.6875rem;
    --spacing-334px: 334px;
    --spacing-320px: 20rem;
    --spacing-325px: 325px;
    --spacing-336px: 336px;
    --spacing-343px: 21.4375rem;
    --spacing-367px: 367px;
    --spacing-370px: 23.125rem;
    --spacing-382px: 23.875rem;
    --spacing-384px: 24rem;
    --spacing-400px: 25rem;
    --spacing-447px: 28.5625rem;
    --spacing-460px: 460px;
    --spacing-480px: 30rem;
    --spacing-500px: 500px;
    --spacing-610px: 610px;
    --spacing-650px: 650px;
    --spacing-815px: 815px;
    --spacing-border: 0.125rem;
    
   /*padding*/
   --spacing-149px:149px;
   --spacing-13px:13px;
   --spacing-6px:6px;
   
}